@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  color: #123466;
  font-family: "Almarai", sans-serif;
  direction: rtl;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  font-style: normal !important;
}

body,
html {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  color: #123466;
  overflow-x: hidden;
}
table {
  direction: ltr;
}
.header-content {
  margin-top: 50px;
}
.header-content_right h2 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d73b1;
  margin-bottom: 35px;
}
.header-content_right-table {
  border: 1px none;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
.header-content_right-table th {
  border: 1px none;
  padding: 5px;
  background: #2d73b1;
  color: #ffffff;
}
.header-content_right-table td {
  border: 1px none;
  text-align: left;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.header-content_left {
  text-align: left;
}
.header-content_left-info h2 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 20px;
  color: #2d73b1;
}
.header-content_left-info p {
  margin: 8px;
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  text-transform: capitalize;
}
.header-content_left-table {
  border: 1px none;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-top: 40px;
}
.header-content_left-table th {
  border: 1px none;
  padding: 5px;
  background: #2d73b1;
  color: #ffffff;
}
.header-content_left-table td {
  border: 1px none;
  text-align: left;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  font-size: 13px;
}
.body-content {
  margin-top: 20px;
}
.demo {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
}
.demo th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #2d73b1;
  color: #ffffff;
  text-transform: uppercase;
}
.demo td {
  border: 1px solid #c0c0c0;
  padding: 5px;
  width: 30px;
}
.demo td:nth-of-type(1) {
  width: auto;
  text-align: left;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  font-size: 13px;
}
.demo td:nth-of-type(2) {
  width: 10%;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  font-size: 13px;
}
.demo td:nth-of-type(3) {
  width: 15%;
  text-align: right;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  font-size: 13px;
}
.demo td:nth-of-type(4) {
  width: 20%;
  width: 15%;
  text-align: right;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  font-size: 13px;
}

.footer-content_table td:nth-of-type(3) {
  background: #c2ddf1;
  font-size: 14px;
}
.footer-content_table td:nth-of-type(2) {
  background: #9cc7e6;
  text-align: left;
  text-transform: uppercase;
}
.footer-content_table td div {
  padding: 2px 0;
  padding-left: 10px;
}
.footer-content_table td:nth-of-type(1) {
  border-left: hidden !important;
  border-bottom: hidden !important;
  text-align: center;
  position: relative;
  padding-left: 0;
}
.footer-content_table td:nth-of-type(1) span {
  background: #c2ddf1;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;
  padding: 5px;
  font-size: 14px;
  font-family: fantasy;
  padding-left: 0;
}
.footer-content_table td div:nth-of-type(4) {
  color: #337baf;
  font-weight: 800;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.taxRate {
  direction: rtl;
}
